rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    function ownsIncomingDocument(userId) {
      return request.resource.data.ownerId == userId;
    }

    function ownsExistingDocument(userId) {
      return resource.data.ownerId == userId;
    }

    match /users/{userId}/{document=**} {
      allow read, delete: if isOwner(userId) && ownsExistingDocument(userId);
      allow create: if isOwner(userId) && ownsIncomingDocument(userId);
      allow update: if isOwner(userId) && ownsExistingDocument(userId) && ownsIncomingDocument(userId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
